.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


[class="chain"] {
  border: 3px solid #252587;
  padding: 200px;
  margin: 2px;
  height: 10px;
  text-align: center;
  overflow: hidden;
  word-break:break-all;
  white-space:pre-line;
}

